*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.container_grid{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: auto auto;
    grid-template-rows: 10vh auto 10vh;
    grid-template-areas: "heade heade" "main main" "footer footer";
}
header{
    grid-area: heade;
    font-weight: 700;
    overflow: hidden;
    background-color: rgb(105, 165, 255);
    display: grid;
    align-content: center;
    nav{
        display: grid;
        grid-template-columns: 20% auto 20%;
        grid-template-areas: "logo pages login";
            .pages{
                display: flex;
                grid-area: pages;
                justify-content: center;
                li{
                    display: flex;
                    text-align: center;
                    align-items: center;
                    margin: 10px;
                }
            }
            .login{
            flex-wrap: wrap;
            display: flex;
            grid-area: login;
            justify-content: end;
            li{
                margin: 10px;
            }
            .deleteCart{
                border: none;
                background-color: red;
                padding: 5px;
                border-radius: 5px;
                text-align: center;
                cursor: pointer;
            }
        }
        .pages li:hover, .login li:hover{
            transform: scale(1.1);
            transition: transform 0.5s ease-in-out;
            cursor: pointer;
        }
    }
}
main{
    grid-area: main;
    width: 100%;
    position: relative;
    .containerSlider{
        display: flex;
        position: relative;
        justify-content: center;
        width: 100%;
        height: 500px;
        .slider{
            overflow: hidden;
            display: flex;
            justify-content: center;
            width: 100%;
            .sliderImg{
                width: 100%;
                height: 500px;
                .img{
                    width: 100%;
                    height: 100%;
                }          
            }
            .active{
                display: inline-block;
            }
            .inactive{
                display: none;
            }
        }
        .buttonSlider{
            z-index: 1;
            position: absolute;
            width: 60px;
            height: 60px;
            top:120px;
            right: 0;
            border-radius: 50%;
            background: none;
            border: none;
            cursor: pointer;
        }
        .buttonSlider:hover{
            transform: scale(1.2);
            transition: transform 1s;
        }
        .left{
            left: 0;
        }
    }
    .containerProductos{
        transition: all 1s;
        grid-area: main;
        display: flex;
        padding: 10px;
        justify-content: center;
        flex-wrap: wrap;
        .ProductoDiv{
            text-align: center;
            margin: 5px;
            flex-wrap: wrap;
            max-width: 250px;
        }
        img{
            max-width: 250px;
            width: 100%;
        }
    }
    .productoAgregado{
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        text-align: center;
        background-color: beige;
        border-radius: 10px;
        .divListAgregado{
            position: relative;
            ul{
                display: flex;
                animation: opacit 1s;
                li{
                    display: flex;
                    text-align: center;
                    align-items: center;
                    margin-right:15px;
                    width: 110px;
                    img{
                        max-width: 150px;
                        width: 100%;
                    }
                    button{
                        border: none;
                        background: none;
                        background-image: url(../img/x.png);
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }.divTotal{
        animation: opacit 1s;
    }
    .climaCss{
        display: flex;
        justify-content: center;
        width: 100%;
        ul{
            margin: 5px;
            li{
                background-color: rgb(252, 244, 244);
                display: flex;
                justify-content: center;
            }
            li:nth-child(5),li:nth-child(9){
                border-radius: 5px 5px 0px 0px;
                margin-top: 5px;
            }
        }
    }
    .containerModal{
        flex-wrap: wrap;
        display: none;
        position: absolute;
        height: 90vh;
        top:0;
        z-index: 3;
        width: 100%;
        background-color: rgba($color: #000000, $alpha: 0.7);
        justify-content: center;
        backdrop-filter:  blur(8px);
        .modalAgregarProd,.eliminarProducto{
            display: flex;
            justify-content: center;
            height: 100px;
            flex-wrap: wrap;
            align-content: center;
            .divAgregarProducto,.divAgregarProductoBtn,.divEliminarProducto{
                display: inline-flex;
                color: wheat;
                margin: 5px;
                align-items: center;
                align-content: flex-end;
                animation: opacit 1s ease-in-out;
            }
            .divAgregarProductoBtn button,.divEliminarProducto button{
                background: none;
                border: none;
                background-color: #58e953;
                padding: 5px;
                border-radius: 5px;
                box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.75) inset;
                cursor: pointer;
            }
            .divEliminarProducto button{
                background-color: rgb(243, 94, 94);
            }
            .divAgregarProductoBtn button:hover,.divEliminarProducto button:hover{
                transform: scale(1.1);
                box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75) inset;
                transition: transform 0.5s,box-shadow 0.5s;
            }
            .divAgregarProductoBtn button:not(:hover),.divEliminarProducto button:not(:hover){
                transform: scale(1);
                box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.75) inset;
                transition: transform 0.5s,box-shadow 0.5s;
            }
        }
    }
}
footer{
    grid-area: footer;
    background-color: red;
}
@keyframes opacit {
    0%{
        transform: translateX(-20px)
    }
    50%{
        transform: translateX(5px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes opacitOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}