* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.container_grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100vh;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: 10vh auto 10vh;
      grid-template-rows: 10vh auto 10vh;
      grid-template-areas: "heade heade" "main main" "footer footer";
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: heade;
  font-weight: 700;
  overflow: hidden;
  background-color: #69a5ff;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

header nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% auto 20%;
      grid-template-columns: 20% auto 20%;
      grid-template-areas: "logo pages login";
}

header nav .pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: pages;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav .pages li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

header nav .login {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: login;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

header nav .login li {
  margin: 10px;
}

header nav .login .deleteCart {
  border: none;
  background-color: red;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

header nav .pages li:hover, header nav .login li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  cursor: pointer;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  width: 100%;
  position: relative;
}

main .containerSlider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 500px;
}

main .containerSlider .slider {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

main .containerSlider .slider .sliderImg {
  width: 100%;
  height: 500px;
}

main .containerSlider .slider .sliderImg .img {
  width: 100%;
  height: 100%;
}

main .containerSlider .slider .active {
  display: inline-block;
}

main .containerSlider .slider .inactive {
  display: none;
}

main .containerSlider .buttonSlider {
  z-index: 1;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 120px;
  right: 0;
  border-radius: 50%;
  background: none;
  border: none;
  cursor: pointer;
}

main .containerSlider .buttonSlider:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

main .containerSlider .left {
  left: 0;
}

main .containerProductos {
  -webkit-transition: all 1s;
  transition: all 1s;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .containerProductos .ProductoDiv {
  text-align: center;
  margin: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 250px;
}

main .containerProductos img {
  max-width: 250px;
  width: 100%;
}

main .productoAgregado {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  background-color: beige;
  border-radius: 10px;
}

main .productoAgregado .divListAgregado {
  position: relative;
}

main .productoAgregado .divListAgregado ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: opacit 1s;
          animation: opacit 1s;
}

main .productoAgregado .divListAgregado ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
  width: 110px;
}

main .productoAgregado .divListAgregado ul li img {
  max-width: 150px;
  width: 100%;
}

main .productoAgregado .divListAgregado ul li button {
  border: none;
  background: none;
  background-image: url(../img/x.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
}

main .divTotal {
  -webkit-animation: opacit 1s;
          animation: opacit 1s;
}

main .climaCss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

main .climaCss ul {
  margin: 5px;
}

main .climaCss ul li {
  background-color: #fcf4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .climaCss ul li:nth-child(5), main .climaCss ul li:nth-child(9) {
  border-radius: 5px 5px 0px 0px;
  margin-top: 5px;
}

main .containerModal {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: none;
  position: absolute;
  height: 90vh;
  top: 0;
  z-index: 3;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

main .containerModal .modalAgregarProd, main .containerModal .eliminarProducto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

main .containerModal .modalAgregarProd .divAgregarProducto, main .containerModal .modalAgregarProd .divAgregarProductoBtn, main .containerModal .modalAgregarProd .divEliminarProducto, main .containerModal .eliminarProducto .divAgregarProducto, main .containerModal .eliminarProducto .divAgregarProductoBtn, main .containerModal .eliminarProducto .divEliminarProducto {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: wheat;
  margin: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-animation: opacit 1s ease-in-out;
          animation: opacit 1s ease-in-out;
}

main .containerModal .modalAgregarProd .divAgregarProductoBtn button, main .containerModal .modalAgregarProd .divEliminarProducto button, main .containerModal .eliminarProducto .divAgregarProductoBtn button, main .containerModal .eliminarProducto .divEliminarProducto button {
  background: none;
  border: none;
  background-color: #58e953;
  padding: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.75) inset;
          box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.75) inset;
  cursor: pointer;
}

main .containerModal .modalAgregarProd .divEliminarProducto button, main .containerModal .eliminarProducto .divEliminarProducto button {
  background-color: #f35e5e;
}

main .containerModal .modalAgregarProd .divAgregarProductoBtn button:hover, main .containerModal .modalAgregarProd .divEliminarProducto button:hover, main .containerModal .eliminarProducto .divAgregarProductoBtn button:hover, main .containerModal .eliminarProducto .divEliminarProducto button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.75) inset;
          box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.75) inset;
  -webkit-transition: -webkit-transform 0.5s,-webkit-box-shadow 0.5s;
  transition: -webkit-transform 0.5s,-webkit-box-shadow 0.5s;
  transition: transform 0.5s,box-shadow 0.5s;
  transition: transform 0.5s,box-shadow 0.5s,-webkit-transform 0.5s,-webkit-box-shadow 0.5s;
}

main .containerModal .modalAgregarProd .divAgregarProductoBtn button:not(:hover), main .containerModal .modalAgregarProd .divEliminarProducto button:not(:hover), main .containerModal .eliminarProducto .divAgregarProductoBtn button:not(:hover), main .containerModal .eliminarProducto .divEliminarProducto button:not(:hover) {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.75) inset;
          box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.75) inset;
  -webkit-transition: -webkit-transform 0.5s,-webkit-box-shadow 0.5s;
  transition: -webkit-transform 0.5s,-webkit-box-shadow 0.5s;
  transition: transform 0.5s,box-shadow 0.5s;
  transition: transform 0.5s,box-shadow 0.5s,-webkit-transform 0.5s,-webkit-box-shadow 0.5s;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  background-color: red;
}

@-webkit-keyframes opacit {
  0% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  50% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes opacit {
  0% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  50% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes opacitOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes opacitOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=styles.css.map */