* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.container_grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100vh;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: 10vh 70vh 0vh;
      grid-template-rows: 10vh 70vh 0vh;
      grid-template-areas: "heade heade" "main main" "footer footer";
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: heade;
  font-weight: 700;
  overflow: hidden;
  background-color: hotpink;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

header nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% auto 20%;
      grid-template-columns: 20% auto 20%;
      grid-template-areas: "logo pages login";
}

header nav .pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: pages;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav .pages li {
  margin: 10px;
}

header nav .login {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: login;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

header nav .login li {
  margin: 10px;
}

header nav .login .deleteCart {
  border: none;
  background-color: red;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

header nav .pages li:hover, header nav .login li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  cursor: pointer;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  position: relative;
}

main .containerSlide {
  text-align: center;
}

main .containerProductos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

main .containerProductos .ProductoDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 350px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: gray;
  padding: 20px;
  margin: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main .containerProductos .ProductoDiv img {
  max-width: 300px;
  max-height: 300px;
}

main .containerProductos .ProductoDiv button {
  width: 250px;
  height: 50px;
  border: none;
  background-color: #2e78b4;
  border-radius: 10px;
  margin-top: 5px;
}

main .containerProductos .ProductoDiv button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  cursor: pointer;
}

main .productoAgregado {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0px;
  left: 0px;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .productoAgregado .divListAgregado {
  width: 20vw;
  background-color: #d1cece;
  border-radius: 0px 5px 5px 0px;
}

main .productoAgregado .divListAgregado ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .productoAgregado .divListAgregado ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .productoAgregado .divListAgregado ul li img {
  max-width: 100px;
}

main .productoAgregado .divListAgregado ul li .buttonEliminar {
  background: none;
  background-image: url(../img/x.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

main .productoAgregado .divTotal {
  position: absolute;
  right: 0;
  bottom: 50%;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
}
/*# sourceMappingURL=styles.css.map */